<img src="../assets/side nav.png" style="float: left;"/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnv7JGWlMsv7xWKsxumz_UCfPUnlAxEvpjFQ&usqp=CAU" style="float: right; width:100px; height:100px;"/>
<div><div class="container">
  <br/><br/>
  
    <h1 style="margin-left: 400px; font-size: 40px;"><b>Welcome Delta Employee!!</b></h1><br/><br/><br/>
  </div>
  
<h2 style="margin-left: 350px;">SEVERITY 1</h2><app-severity1></app-severity1><br/><mat-divider></mat-divider><br/><br/>
<h2 style="margin-left: 350px;">SEVERITY 2</h2><app-severity2></app-severity2><br/><mat-divider></mat-divider><br/><br/>
<h2 style="margin-left: 350px;">SEVERITY 3</h2><app-severity3></app-severity3><br/><mat-divider></mat-divider><br/>
<button mat-raised-button color="primary" style="margin-left: 350px;">Save</button>
</div>